.about-me {
  box-shadow: inset 2vw 0vw 8vw 2vw #333232,
              inset 11vw 11vw 4vw -2vw #333232,
              inset 0vw 0vw 2vw 11vw #333232;
  -webkit-box-shadow: inset 2vw 0vw 8vw 2vw #333232,
                      inset 11vw 11vw 4vw -2vw #333232,
                      inset 0vw 0vw 2vw 11vw #333232;
  background: #1f1e1e;
  height: 100vh;
}