.about-me {
  height: 100vh;
}

.about-me-blurb {
  background: #f6f6ff;
  color: #45A29E;
  font-size: 2.6vw;
  text-align: left;
  font-weight: 400;
  padding: 15vh 14.5vw 0 16vw;
}

nav {
  background: #f6f6ff;
  margin: 0 auto;

}

nav ul {
  display: inline-flex;
  font-size: 2em;
  justify-content: center;
  list-style: none;
  text-align: center;
}

nav li > a, nav li.navAside {
  background: #f6f6ff;
  box-sizing: border-box;
  line-height: 8vh;
  margin: 10vh 0vw -4vh 11.25vw;
  padding: 2%;
  width: 17vw;
  text-align: center;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

#about-me {
  border-radius: 8px;
  box-shadow: 5px 6px 10px 0 #000000a1;
  color: #45A29E;
  padding: .5em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#about-me:hover {
  background-color: #bdebf1;
}

#about-me:active {
  box-shadow: none;
  top: 4px;
}

@media (max-width: 880px) {
.about-me {
  height: 100vh;
  box-shadow: inset 2vh 0vw 8vh 2vw #f6f6ff;
  -webkit-box-shadow: inset 0 16vw 1vh 7vw #f6f6ff,
                      inset 0 -2vw 1vh 8vw #f6f6ff;
}

.about-me-blurb {
  font-size: 4.25vw;
  line-height: 6vh;
  padding: 6.5vh 10vw 0 12vw;
}

nav ul {
  display: inline-flex;
  margin: 0;
  font-size: 3vw;
}

nav li > a, nav li.navAside {
  margin: 8vh 0vw 1vh 10vw;
  line-height: 4vh;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

#about-me {
  box-shadow: 4px 4px 6px #000000a1;
  padding: .5em .5em;
  position: relative;
}

#about-me:active {
  box-shadow: none;
  top: 3px;
}
}

@media (max-width: 414px) {
.about-me {
  height: 100vh;
}

.about-me-blurb {
  font-size: 5.75vw;
  line-height: 5vh;
  padding: 0vh 9vw 0 7vw;
  width: 100vw;
}

nav ul {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 auto;
}

nav li > a, nav li.navAside {
  box-sizing: border-box;
  line-height: 4vh;
  margin: 4vh 8.5vw 5vh -4.25vw;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

#about-me {
  box-shadow: 2px 2px 6px #000000a1;
  font-size: .9rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 5rem;
}

#about-me:hover {
  background-color: #1F2833;
}

#about-me:active {
  box-shadow: none;
  top: 4px;
}
}