* {
	margin:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

.contact-me	{
  align-items: center;
  background: #f6f6ff;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
}

#contact h1 {
	color: #45A29E;
	font-size: 2.5em;
	font-weight: 600;
	margin-bottom: -.25em;
}

h6 {
	font-size: 1.1em;
	font-weight: 300;
	padding: 0.85em 0 0.25em 0;
}

#contact {
  justify-content: center;
  background: #f5eee6;
  border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
	box-shadow: 0 6px 10px 0 #000000a1;
  display: flex;
  flex-direction: column;
	height: 53vh;
	padding-left: 1vw;
  position: absolute;
  width: 45vw;
}

#contact input[type='text'],
#contact input[type='email'],
#contact input[type='tel'],
#contact input[type='url'],
#contact textarea {
	background:#d6dadf;
	border: 1px solid #f5eee6;
	transition:border-color 0.3s ease-in-out;
	-o-transition:border-color 0.3s ease-in-out;
	-ms-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	-webkit-transition:border-color 0.3s ease-in-out;
	border-radius: 4px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	color: #454646;
	font-size: 100%;
	padding: .5em .5em;
	width: 43vw;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

#contact input[type='text']:hover,
#contact input[type='email']:hover,
#contact input[type='tel']:hover,
#contact input[type='url']:hover,
#contact textarea:hover {
	border: 1px solid #45A29E;
	transition:border-color 0.3s ease-in-out;
	-o-transition:border-color 0.3s ease-in-out;
	-ms-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	-webkit-transition:border-color 0.3s ease-in-out;
}

#submit-button {
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: rgb(90, 90, 90) 2px 2px 3px;
  font-size: 1.1em;
  height: 2em;
  margin-left: 1em;
  margin-top: 1em;
  transform-origin: 10px 0 0px;
  transform: none;
  -o-transform: none;
  -ms-transform: none;
  -moz-transform: none;
  -webkit-transform: none;
  width: 8em;
}

#submit-button:hover {
	background:#bdebf1;
	cursor: pointer;
	font-size: 1.25em;
	transition:background-color 0.4s ease-in-out;
	-o-transition:background-color 0.4s ease-in-out;
	-ms-transition:background-color 0.4s ease-in-out;
	-moz-transition:background-color 0.4s ease-in-out;
	-webkit-transition:background-color 0.4s ease-in-out;
	transform: width 0.4s ease-in-out;
	-o-transform: width 0.4s ease-in-out;
	-ms-transform: width 0.4s ease-in-out;
	-moz-transform: width 0.4s ease-in-out;
	-webkit-transform: width 0.4s ease-in-out;
	width: 8.2em;
}

#contact textarea {
	height: 5em;
	text-overflow: auto;
}

#contact input:focus,
#contact textarea:focus {
	border:1px solid #45A29E;
	color: #646361;
	outline:0;
}

@media (max-width: 880px) {
#contact {
	font-size: 3vw;
	padding-left: 2vw;
	width: 50vw;
}

#contact h1 {
	font-size: 1.25em;
	font-weight: 400;
	margin-bottom: -.75em;
}

h6 {
	font-size: .75em;
	font-weight: 300;
	margin-bottom: 0.5vh;
	margin-top: 1.5vh;
	padding: 0;
}

#contact input[type='text'],
#contact input[type='email'],
#contact input[type='tel'],
#contact input[type='url'],
#contact textarea {
	font-size: 2vw;
	padding:10px;
	width: 46vw;
}

#contact textarea {
	height: 10vh;
}

#submit-button {
	border-radius: 4px;
	font-size: 1.75vw;
	margin-top: 1.5vh;
	width: 14vw;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

#submit-button:hover {
	font-size: 1.75vw;
	-webkit-transition:background-color 0.3s ease-in-out;
	-moz-transition:background-color 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
	-ms-transition:background-color 0.3s ease-in-out;
	-o-transition:background-color 0.3s ease-in-out;
}
}

@media (max-width: 414px) {
#contact {
	font-size: 3vw;
	height: 70vh;
	padding-left: 4vw;
	width: 72vw;
}

#contact h1 {
	font-size: 2.5em;
	font-weight: 500;
	margin-bottom: .01em;
}

h6 {
	font-size: 1.5em;
	font-weight: 300;
	margin-bottom: 1vh;
	margin-top: 2.5vh;
}

#contact input[type='text'],
#contact input[type='email'],
#contact input[type='tel'],
#contact input[type='url'],
#contact textarea {
	border:none;
	font-size: 4vw;
	padding: 8px;
	width: 64vw;
}

#contact input:focus,
#contact textarea:focus {
	border:1px solid #45A29E;
	color: #6c6d6d;
	font-size: 4vw;
	outline:0;
}

#submit-button {
	font-size: 4vw;
	margin-top: 3vh;
	width: 28vw;
}

#submit-button:hover {
	font-size: 4vw;
	width: 28vw;
}
}