* {
	margin:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	background: #e9ebf1;
	width: 100vw;
}

.contact-me	{
	background: #e9ebf1;
	height: 100vh;
  padding-top: 18vh;
  margin: 0vh 24vw;
}

#contact {
	width: 50vw;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#contact h1 {
	color: #45A29E;
	font-size: 3vw;
	font-weight: 700;
	margin: 2vh 0vw 1vh;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
	width:50vw;
	border:none;
	background:#1F2833;
	font-size: 1.5vw;
	color: #C5C6C7;
	margin: 1vh 0vw 1vh;
	padding: 1.25vw;
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #e9ebf1;
	-ms-transition:border-color 0.3s ease-in-out;
	-o-transition:border-color 0.3s ease-in-out;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
	border:1px solid #45A29E;
	font-size: 2vw;
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	-ms-transition:border-color 0.3s ease-in-out;
	-o-transition:border-color 0.3s ease-in-out;
}

#contact button[type="submit"]:hover {
	cursor: pointer;
	background:#1F2833;
	-webkit-transition:background-color 0.3s ease-in-out;
	-moz-transition:background-color 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
	-ms-transition:background-color 0.3s ease-in-out;
	-o-transition:background-color 0.3s ease-in-out;
}

#contact input:focus,
#contact textarea:focus {
	box-shadow:inset 0 1px 3px #00000080;
	font-size: 2vw;
	outline:0;
	border:1px solid #1F2833;
}

@media (max-width: 880px) {
#contact {
	background: #e9ebf1;
	height: 85vh;
  padding-top:15vh;
  margin: -5vh 24vw 10vh 0;
	width: 50vw;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#contact h1 {
	color: #45A29E;
	font-size: 6vw;
	font-weight: 400;
	margin-left: -10vw;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
	background:#1F2833;
	border:none;
  color: #45A29E;
	font-size: 4vw;
	margin-left: -10vw;
	padding:10px;
	width:80vw;
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #e9ebf1;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
	background:#1F2833;
	border:none;
	color: #C5C6C7;
	font-size: 3vw;
	padding:4.5%;
	width:80vw;
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #e9ebf1;
	-ms-transition:border-color 0.3s ease-in-out;
	-o-transition:border-color 0.3s ease-in-out;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
	border:1px solid #45A29E;
	font-size: 3vw;
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	-ms-transition:border-color 0.3s ease-in-out;
	-o-transition:border-color 0.3s ease-in-out;
}
}

@media (max-width: 414px) {
#contact {
  padding-top: 10vh;
  margin: 0 -4vw 0;
}

#contact h1 {
	color: #45A29E;
	font-size: 9vw;
	font-weight: 500;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
	width:80vw;
	border:none;
	background:#1F2833;
	font-size: 4vw;
  color: #C5C6C7;
	padding:5px;
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #e9ebf1;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
	width:80vw;
	border:none;
	background:#1F2833;
	font-size: 4vw;
	color: #C5C6C7;
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #e9ebf1;
	-ms-transition:border-color 0.3s ease-in-out;
	-o-transition:border-color 0.3s ease-in-out;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
	border:1px solid #45A29E;
	font-size: 5vw;
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	-ms-transition:border-color 0.3s ease-in-out;
	-o-transition:border-color 0.3s ease-in-out;
}
}