p {
  margin-bottom: 0;
}

ul {
  margin-top: 0;
}

footer {
	background: #333333;
  position: relative;
  margin-top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.footerLinks {
  text-align: center;
  padding-top: 1.5%;
  font-size: 1rem;
}
.footerLinks ul {
	padding: 0;
  list-style-type: none;
}
.footerLinks li {
	display: inline;
}
.footerLinks a {
  color: #005B60;
	text-decoration: none;
}
.copyright {
  text-align: center;
}
.copyright p {
	color: #005B60;
  font-size: 1rem;
  padding-bottom: 2%;
}
nav ul li a {
	text-decoration: none;
	float: left;
	display: block;
	padding: 10px 20px;
	color: grey;
}
nav ul li a:hover {
	color: #005B60;
}