.header-background {
  background-image:
  url('https://github.com/Bavid-Dowie/Jeremy-Zimmerman-Portfolio/blob/master/jeremy_z_portfolio/brooklyngraffiti.jpg?raw=true');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 1;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

@media (max-width: 880px) {
.header-background {
  height: 50vh;
  width: 100vw;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}
}
@media (max-width: 414px) {
.header-background {
  height: 37vh;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}
}