.parallax2-background {
  height: 75vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url('https://raw.githubusercontent.com/Bavid-Dowie/Jeremy-Zimmerman-Portfolio/master/brooklyngraffiti.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.layer {
  background-color: rgba(184, 184, 184, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bio-photo  {
  margin: -90% -172%;
  height: 45%;
  width: auto;
  background: #005B60;
  opacity: 0.85;
  border: 4px double #000000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.bio-div {
  margin: 12% 1% 10% 0;
  height: 100%;
  width: auto;
}
#skillsa {
  height: 20%;
  text-align: center;
  width: auto;
  margin: 4% 0 0 0;
  opacity: 0.8;
}
#skillsb {
  height: 35%;
  width: auto;
  width: auto;
  margin: 10% 1%;
  opacity: 0.8;
}
@keyframes parallax2-background {
  0% {
    transform: translateY(1em);
    -webkit-transform: translateY(1em);
    -moz-transform: translateY(1em);
    -ms-transform: translateY(1em);
    -o-transform: translateY(1em);
}
  100% {
    transform: translateY(20em);
    -webkit-transform: translateY(20em);
    -moz-transform: translateY(20em);
    -ms-transform: translateY(20em);
    -o-transform: translateY(20em);
  }
}
