.portfolio__body {
  height: 100vh;
  font-weight: bolder;
  font-family: 'Special Elite', cursive;
  color: #ccc;
  background: #1f1e1e;
  margin-top: transparent;
  padding: 1%;
  font-size: 3vw;
  text-align: center;
  height: 105vh;
}

.main-header {
  margin: 5%;
}

.projects {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
#col {
  background: #ccc;
  padding: 0px;
  width: 40vw;
  height: 36vh;
  border-radius: 15px;
  margin-top: 10vh;
  margin-bottom: 6vh;
  line-height: 150px;
  color: #ccc;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

img {
  width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

@media (max-width: 800px) {
  .col {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .col {
    display: block;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 15%;
  background: #353535;
}