.projects__body {
  width: 100%;
  color: #206966;
  background: #f6f6ff;
  margin-top: transparent;
  font-size: 2vw;
  text-align: center;
}

.main-header {
  font-family: 'Special Elite', cursive;
  margin: 6vw;
}

.appText {
  text-align: left;
  font-size: 2vw;
  font-style: bold;
  line-height: 6.5vh;
  padding: 7vh 1.5vw 0vh 1.5vw;
  margin-left: 2vw;
}

.appText4 {
  text-align: left;
  font-size: 2vw;
  line-height: 6.5vh;
  padding: 7vh 1.5vw 0vh 1.5vw;
  margin-left: 2vw;
}

.projects {
  padding: 4vw;
  margin: 4vw;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.project1,.project2,.project3 {
  background: #f6f6ff;
  padding: 2vh 2vw 2.5vh;
  width: 68vw;
  margin: 0vh 2vw 6vh 0vw;
  color: #206966;
  font-size: 5vw;
  text-align: left;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.project4 {
  background: #f6f6ff;
  width: 68vw;
  margin: 0vh 5vw -5vh 5vw;
  color: #206966;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

img {
  width: 67vw;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 880px) {
.projects__body {
  width: 100vw;
  font-weight: 600;
  color: #206966;
  background: #f6f6ff;
  line-height: 2vh;
  padding: 1vh 1vw;
  font-size: 3vw;
  text-align: center;
}

.main-header {
  margin: 9vh 8vw 8vh;
}

.appText {
  text-align: left;
  font-size: 3vw;
  width: 86vw;
  margin: 1vh 0 -2vh 0vw;
  line-height: 4.5vh;
}

.appText4 {
  text-align: left;
  font-size: 3vw;
  width: 88vw;
  margin: 1vh 0 0 -1vw;
  line-height: 4.5vh;
}

.project1,.project2,.project3 {
  background: #f6f6ff;
  width: 70vw;
  margin: 1vh 5vw 6vh -13vw;
  color: #206966;
}

.project4 {
  background: #f6f6ff;
  width: 70vw;
  margin: 0vh 5vw 0vh -10vw;
  color: #206966;
}

img {
  width: 85vw;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
}

@media (max-width: 414px) {
.projects__body {
  width: 100vw;
  color: #206966;
}

.main-header {
  font-size: 8vw;
}

.appText {
  font-size: 5vw;
  padding: 3vh 0 1vh 0;
}

.appText4 {
  font-size: 5vw;
  padding: 3vh 0 -1vh 0;
}

.projects {
  padding: 5vh;
  margin: 2vw;
}

.project1,.project2,.project3 {
  background: #f6f6ff;
  padding: 0 9vw;
  width: 85vw;
  color: #206966;
  text-align: left;
}

.project4 {
  background: #f6f6ff;
  width: 85vw;
  margin: 0 10vw;
}

img {
  width: 85vw;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
}