.skills-background {
  height: 85vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url('https://raw.githubusercontent.com/Bavid-Dowie/Jeremy-Zimmerman-Portfolio/master/brooklyngraffiti.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.layer {
  background-color: #b8b8b866;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bio-photo  {
  height: 50vh;
  width: auto;
  background: #005B60;
  margin: 8% 50%;
  opacity: 0.85;
  border: 4px double #000000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.bio-div {
  margin: 12% 30% 6% -60%;
  height: 100%;
  width: auto;
}

#skills_png {
  height: 10vh;
  text-align: center;
  width: auto;
  margin: 4% 0.5% 0 0.5%;
  opacity: 0.8;
}

@keyframes skills-background {
  0% {
    transform: translateY(1em);
    -webkit-transform: translateY(1em);
    -moz-transform: translateY(1em);
    -ms-transform: translateY(1em);
    -o-transform: translateY(1em);
}
  100% {
    transform: translateY(20em);
    -webkit-transform: translateY(20em);
    -moz-transform: translateY(20em);
    -ms-transform: translateY(20em);
    -o-transform: translateY(20em);
  }
}

@media (max-width: 880px) {
.skills-background {
  height: 85vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url('https://raw.githubusercontent.com/Bavid-Dowie/Jeremy-Zimmerman-Portfolio/master/brooklyngraffiti.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.layer {
  background-color: #b8b8b866;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bio-photo  {
  height: 50vh;
  width: auto;
  background: #005B60;
  margin: 17% -20%;
  opacity: 0.85;
  border: 4px double #000000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.bio-div {
  margin: 12% 30% 6% -60%;
  height: 100%;
  width: auto;
}

#skills_png {
  height: 10vh;
  text-align: center;
  width: auto;
  margin: 4% 0.5% 0 0.5%;
  opacity: 0.8;
}

@keyframes skills-background {
  0% {
    transform: translateY(1em);
    -webkit-transform: translateY(1em);
    -moz-transform: translateY(1em);
    -ms-transform: translateY(1em);
    -o-transform: translateY(1em);
}
  100% {
    transform: translateY(20em);
    -webkit-transform: translateY(20em);
    -moz-transform: translateY(20em);
    -ms-transform: translateY(20em);
    -o-transform: translateY(20em);
  }
}
}

@media (max-width: 414px) {
.skills-background {
  height: 37.5vh;
  width: 106vw;
  display: flex;
  background-image: url('https://raw.githubusercontent.com/Bavid-Dowie/Jeremy-Zimmerman-Portfolio/master/brooklyngraffiti.jpg');
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.layer {
  background-color: #b8b8b866;
  position: absolute;
  height:37.5vh;
  width: 106vw;
}

.bio-photo  {
  height: 30vh;
  background: #005B60;
  margin: 20vh 0vw 10vh -87vw;
  border: 4px double #000000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.bio-div {
  margin: 0vh 60vw 6vh -25vw;
}

#skills_png {
  height: 10vh;
  justify-content: center;
  margin: 5vh 0 0 0vw;
  opacity: 0.9;
}
}