.skills-background {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url('https://raw.githubusercontent.com/Bavid-Dowie/Jeremy-Zimmerman-Portfolio/master/brooklyngraffiti.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.layer {
  background-color: #bdbec1d7;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100vw;
}

.bio-photo  {
  background: #45A29E;
  height: 40vh;
  margin: 0 auto;
  margin-top: 8rem;
  opacity: 0.85;
  position: absolute;
  width: auto;
  border: 4px double #0B0C10;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.skill-container {
  align-self: flex-end;
  display: block;
  flex-direction: row;
  margin-bottom: 9rem;
  text-align: center;
}

#skills_png {
  height: 13vh;
  opacity: 0.8;
  width: auto;
  margin: 0 auto;
  flex-wrap: wrap;
}

@keyframes skills-background {
  0% {
    transform: translateY(1em);
    -webkit-transform: translateY(1em);
    -moz-transform: translateY(1em);
    -ms-transform: translateY(1em);
    -o-transform: translateY(1em);
}
  100% {
    transform: translateY(20em);
    -webkit-transform: translateY(20em);
    -moz-transform: translateY(20em);
    -ms-transform: translateY(20em);
    -o-transform: translateY(20em);
  }
}

@media (max-width: 880px) {

.bio-photo  {
  height: 35vh;
  opacity: 0.85;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.skill-container {
  width: 60%;
  margin-left: 5vw;
}

#skills_png {
  height: 10vh;
  width: auto;
}

@keyframes skills-background {
  0% {
    transform: translateY(1em);
    -webkit-transform: translateY(1em);
    -moz-transform: translateY(1em);
    -ms-transform: translateY(1em);
    -o-transform: translateY(1em);
}
  100% {
    transform: translateY(20em);
    -webkit-transform: translateY(20em);
    -moz-transform: translateY(20em);
    -ms-transform: translateY(20em);
    -o-transform: translateY(20em);
  }
}
}

@media (max-width: 414px) {

.bio-photo  {
  height: 26vh;
  margin-top: 12vh;
  opacity: 0.9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.skill-container {
  left: -4vw;
  padding-bottom: 10vh;
  position: absolute;
  width: 100vw;
}

#skills_png {
  height: 4rem;
  margin: .5rem;
  opacity: 0.9;
}
}