.about-me {
  height: 100vh;
}

.about-me-blurb {
  background: #f6f6ff;
  color: #212c5c;
  font-size: 2.6vw;
  text-align: left;
  font-weight: 400;
  padding: 15vh 14.5vw 0 16vw;
}

nav {
  background: #f6f6ff;
  margin: 0 auto;
}

nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-align: center;
}

nav li > a, nav li.navAside {
  background: #f6f6ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 8vh;
  margin: 10vh 0vw -4vh 11.25vw;
  padding: 2%;
  width: 17vw;
  text-align: center;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

#about-me {
  border-radius: 8px;
  -webkit-box-shadow: 5px 6px 10px 0 #000000a1;
          box-shadow: 5px 6px 10px 0 #000000a1;
  color: #212c5c;
  padding: .5em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#about-me:hover {
  background-color: #bdebf1;
}

#about-me:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 4px;
}

@media (max-width: 880px) {
  .about-me {
    height: 100vh;
    box-shadow: inset 2vh 0vw 8vh 2vw #f6f6ff;
    -webkit-box-shadow: inset 0 16vw 1vh 7vw #f6f6ff, inset 0 -2vw 1vh 8vw #f6f6ff;
  }
  .about-me-blurb {
    font-size: 4.25vw;
    line-height: 6vh;
    padding: 6.5vh 10vw 0 12vw;
  }
  nav ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    font-size: 3vw;
  }
  nav li > a, nav li.navAside {
    margin: 8vh 0vw 1vh 10vw;
    line-height: 4vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
  }
  #about-me {
    -webkit-box-shadow: 4px 4px 6px #000000a1;
            box-shadow: 4px 4px 6px #000000a1;
    padding: .5em .5em;
    position: relative;
  }
  #about-me:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 3px;
  }
}

@media (max-width: 414px) {
  .about-me {
    height: 100vh;
  }
  .about-me-blurb {
    font-size: 5.75vw;
    line-height: 5vh;
    padding: 0vh 9vw 0 7vw;
    width: 100vw;
  }
  nav ul {
    font-weight: 400;
    font-size: 1rem;
    margin: 0 auto;
  }
  nav li > a, nav li.navAside {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 4vh;
    margin: 4vh 8.5vw 5vh -4.25vw;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
  }
  #about-me {
    -webkit-box-shadow: 2px 2px 6px #000000a1;
            box-shadow: 2px 2px 6px #000000a1;
    font-size: .9rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 5rem;
  }
  #about-me:hover {
    background-color: #1F2833;
  }
  #about-me:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 4px;
  }
}

a {
  text-decoration: none;
  display: block;
}

#header__body {
  background: #f6f6ff;
  color: #295f5c;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
  width: 50vw;
}

#header__title1 {
  font-family: 'Special Elite', cursive;
  font-size: 6.5vw;
  text-align: center;
  color: #295f5c;
  padding: 0 0 0 0;
  margin: 10vh 0 8vh 15vw;
  animation: glitch-back 4s infinite;
  transform: translate(1%);
  -webkit-transform: translate(1%);
  -moz-transform: translate(1%);
  -ms-transform: translate(1%);
  -o-transform: translate(1%);
  -webkit-animation: glitch-back 4s infinite;
}

#header__title2 {
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 6.5vw;
  font-weight: 400;
  color: #295f5c;
  margin: 4vh 1vw 12vh 1vw;
}

#header__title3 {
  font-family: 'Special Elite', cursive;
  font-size: 6.5vw;
  color: #295f5c;
  margin: 2vh 0 0 6.5vw;
}

.glitch {
  background: #f6f6ff;
  width: calc(60vw - 10vw);
  height: 100vh;
  padding: 0 4vw;
  position: absolute;
}

#header__split1:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  border-top: 100vh solid #f6f6ff;
  border-right: 20vw solid transparent;
}

#header__title2:hover {
  font-size: 0;
}

#header__title2:hover:after {
  content: attr(data-hover);
  font-size: 6.5vw;
  font-weight: 400;
}

.indicator {
  position: relative;
  margin-left: 44.5vw;
  top: 8vh;
  padding: .9em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.indicator span {
  position: absolute;
  width: 1.6em;
  height: 3vh;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-right: 0.2em solid #295f5c;
  border-bottom: 0.2em solid #295f5c;
  animation: animate 1s linear infinite;
  -webkit-animation: animate 1s linear infinite;
}

.indicator span:nth-child(5) {
  top: -135%;
  left: -135%;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.indicator span:nth-child(4) {
  top: -95%;
  left: -95%;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.indicator span:nth-child(1) {
  top: -55%;
  left: -55%;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.indicator span:nth-child(2) {
  top: -15%;
  left: -15%;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.indicator span:nth-child(3) {
  top: 25%;
  left: 25%;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes animate {
  0% {
    border-color: #dd00ff;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  20% {
    border-color: #dd00ff;
    transform: translate(43%, 43%);
    -webkit-transform: translate(43%, 43%);
    -moz-transform: translate(43%, 43%);
    -ms-transform: translate(43%, 43%);
    -o-transform: translate(43%, 43%);
  }
  20.1%, 100% {
    border-color: #295f5c;
  }
}

@keyframes animate {
  0% {
    border-color: #dd00ff;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  20% {
    border-color: #dd00ff;
    transform: translate(43%, 43%);
    -webkit-transform: translate(43%, 43%);
    -moz-transform: translate(43%, 43%);
    -ms-transform: translate(43%, 43%);
    -o-transform: translate(43%, 43%);
  }
  20.1%, 100% {
    border-color: #295f5c;
  }
}

.glitch b {
  position: relative;
}

@-webkit-keyframes glitch-back {
  0%, 26%, 30%, 72%, 76%, 100% {
    transform: translate(0em) skew(0deg);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translate(0em) skew(0deg);
    -moz-transform: translate(0em) skew(0deg);
    -ms-transform: translate(0em) skew(0deg);
    -o-transform: translate(0em) skew(0deg);
  }
  30%, 70% {
    transform: translate(1em) skew(10deg);
    -webkit-transform: translate(1em) skew(10deg);
    -moz-transform: translate(1em) skew(10deg);
    -ms-transform: translate(1em) skew(10deg);
    -o-transform: translate(1em) skew(10deg);
  }
  29%, 31%, 69%, 71% {
    transform: translate(0em) skew(0deg);
    -webkit-transform: translate(0em) skew(0deg);
    -moz-transform: translate(0em) skew(0deg);
    -ms-transform: translate(0em) skew(0deg);
    -o-transform: translate(0em) skew(0deg);
  }
}

@keyframes glitch-back {
  0%, 26%, 30%, 72%, 76%, 100% {
    transform: translate(0em) skew(0deg);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translate(0em) skew(0deg);
    -moz-transform: translate(0em) skew(0deg);
    -ms-transform: translate(0em) skew(0deg);
    -o-transform: translate(0em) skew(0deg);
  }
  30%, 70% {
    transform: translate(1em) skew(10deg);
    -webkit-transform: translate(1em) skew(10deg);
    -moz-transform: translate(1em) skew(10deg);
    -ms-transform: translate(1em) skew(10deg);
    -o-transform: translate(1em) skew(10deg);
  }
  29%, 31%, 69%, 71% {
    transform: translate(0em) skew(0deg);
    -webkit-transform: translate(0em) skew(0deg);
    -moz-transform: translate(0em) skew(0deg);
    -ms-transform: translate(0em) skew(0deg);
    -o-transform: translate(0em) skew(0deg);
  }
}

.glitch .back:before {
  height: .4em;
  width: 2em;
  background: #f6f6ff;
  transform: translate(4em);
  animation: glitch-back-before 3s infinite;
  -webkit-transform: translate(4em);
  -moz-transform: translate(4em);
  -ms-transform: translate(4em);
  -o-transform: translate(4em);
  -webkit-animation: glitch-back-before 3s infinite;
}

.glitch .back:after,
.glitch .back:before {
  display: block;
  content: '';
  width: 2.5em;
}

.glitch .back:after {
  height: .1em;
  animation: glitch-back-after 3s infinite;
  -webkit-animation: glitch-back-after 3s infinite;
}

@-webkit-keyframes glitch-back-after {
  0%, 34%, 38%, 46%, 50%, 100% {
    transform: translate(1em);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -ms-transform: translate(1em);
    -o-transform: translate(1em);
  }
  36%, 48% {
    transform: translate(0.4em);
    -webkit-box-shadow: -1em 0 0 0 #295f5c, 1em 0 0 0 #dd00ff;
            box-shadow: -1em 0 0 0 #295f5c, 1em 0 0 0 #dd00ff;
    -webkit-transform: translate(0.4em);
    -moz-transform: translate(0.4em);
    -ms-transform: translate(0.4em);
    -o-transform: translate(0.4em);
  }
}

@keyframes glitch-back-after {
  0%, 34%, 38%, 46%, 50%, 100% {
    transform: translate(1em);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -ms-transform: translate(1em);
    -o-transform: translate(1em);
  }
  36%, 48% {
    transform: translate(0.4em);
    -webkit-box-shadow: -1em 0 0 0 #295f5c, 1em 0 0 0 #dd00ff;
            box-shadow: -1em 0 0 0 #295f5c, 1em 0 0 0 #dd00ff;
    -webkit-transform: translate(0.4em);
    -moz-transform: translate(0.4em);
    -ms-transform: translate(0.4em);
    -o-transform: translate(0.4em);
  }
}

@-webkit-keyframes glitch-back-before {
  0%, 30%, 34%, 50%, 54%, 100% {
    transform: translate(0);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
  32%, 52% {
    transform: translate(1em);
    -webkit-box-shadow: -0.3em 0 0 0 #00ff08, 0.3em 0 0 0 #0051ff;
            box-shadow: -0.3em 0 0 0 #00ff08, 0.3em 0 0 0 #0051ff;
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -ms-transform: translate(1em);
    -o-transform: translate(1em);
  }
}

@keyframes glitch-back-before {
  0%, 30%, 34%, 50%, 54%, 100% {
    transform: translate(0);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
  32%, 52% {
    transform: translate(1em);
    -webkit-box-shadow: -0.3em 0 0 0 #00ff08, 0.3em 0 0 0 #0051ff;
            box-shadow: -0.3em 0 0 0 #00ff08, 0.3em 0 0 0 #0051ff;
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -ms-transform: translate(1em);
    -o-transform: translate(1em);
  }
}

@media (max-width: 850px) {
  #header__body {
    height: 50vh;
    margin-bottom: 0;
    padding-bottom: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  }
  .glitch__header {
    position: absolute;
    background: #f6f6ff;
    width: calc(80vw - 20vw);
    padding: 0 3.5vw;
    height: 100vh;
  }
  #header__title1 {
    font-size: 6.5vw;
    margin: 8vh 0 2vh -8vw;
    animation: glitch-back 4s infinite;
    transform: translate(1%);
    -webkit-transform: translate(1%);
    -moz-transform: translate(1%);
    -ms-transform: translate(1%);
    -o-transform: translate(1%);
    -webkit-animation: glitch-back 4s infinite;
  }
  #header__title2 {
    font-size: 6.5vw;
    margin: 1vh 0 4vh -13vw;
  }
  #header__title3 {
    font-size: 6.5vw;
    margin: 0 0 0 6vw;
  }
  #header__split1:after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    border-top: 50vh solid #f6f6ff;
    border-right: 20vw solid transparent;
  }
  .indicator span {
    position: absolute;
    height: 0vh;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    border-right: .2em solid #45A29E;
    animation: animate 1s linear infinite;
    -webkit-animation: animate 1s linear infinite;
  }
}

@media (max-width: 414px) {
  #header__body {
    height: 37vh;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    width: 50vw;
  }
  #header__title1 {
    font-size: 7.5vw;
    margin: 7vh 0 1vh -1vw;
    animation: glitch-back 4s infinite;
    transform: translate(1%);
    -webkit-transform: translate(1%);
    -moz-transform: translate(1%);
    -ms-transform: translate(1%);
    -o-transform: translate(1%);
    -webkit-animation: glitch-back 4s infinite;
  }
  #header__title2 {
    font-size: 7.5vw;
    margin: 0 0 2vh -6vw;
  }
  #header__title3 {
    font-size: 7.5vw;
    margin: 0 0 0 7.5vw;
  }
  #header__split1:after {
    content: '';
    border-top: 40vh solid #f6f6ff;
    border-right: 20vw solid transparent;
  }
  .indicator span {
    position: absolute;
    height: 0vh;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    border-right: .2em solid #45A29E;
    animation: animate 1s linear infinite;
    -webkit-animation: animate 1s linear infinite;
  }
}

.projects__body {
  background: #f6f6ff;
  color: #212c5c;
  font-size: 2vw;
  margin-top: transparent;
  text-align: center;
  width: 100%;
}

hr {
  margin: 0 auto;
  width: 95vw;
}

h5 {
  margin-bottom: 7vh;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
}

#tech-list {
  color: black;
}

.main-header {
  font-family: 'Special Elite', cursive;
  margin: 6vw;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
}

.appText {
  text-align: left;
  font-size: 2vw;
  font-style: bold;
  line-height: 6.5vh;
  padding: 7vh 1.5vw 0vh 1.5vw;
  margin-left: 2vw;
}

.appText4 {
  text-align: left;
  font-size: 2vw;
  line-height: 6.5vh;
  padding: 7vh 1.5vw 0vh 1.5vw;
  margin-left: 2vw;
}

.projects {
  padding: 4vw;
  margin: 4vw;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project1, .project2, .project3, .project4 {
  background: #f6f6ff;
  padding: 2vh 2vw 2.5vh;
  width: 68vw;
  margin: 0vh 2vw 6vh 0vw;
  color: #212c5c;
  font-size: 5vw;
  text-align: left;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

img {
  width: 67vw;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 880px) {
  .projects__body {
    background: #f6f6ff;
    font-size: 3vw;
    font-weight: 600;
    line-height: 2vh;
    padding: 1vh 1vw;
    text-align: center;
    width: 100vw;
  }
  h5 {
    font-size: 4.5vw;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  }
  .main-header {
    margin: 9vh 8vw 8vh;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  }
  .appText {
    text-align: left;
    font-size: 3vw;
    width: 86vw;
    margin: 1vh 0 -2vh 0vw;
    line-height: 4.5vh;
  }
  .appText4 {
    text-align: left;
    font-size: 3vw;
    width: 88vw;
    margin: 1vh 0 0 -1vw;
    line-height: 4.5vh;
  }
  .project1, .project2, .project3 {
    background: #f6f6ff;
    width: 70vw;
    margin: 1vh 5vw 6vh -13vw;
  }
  .project4 {
    background: #f6f6ff;
    width: 70vw;
    margin: 0vh 5vw 0vh -10vw;
  }
  img {
    width: 85vw;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

@media (max-width: 414px) {
  .projects__body {
    width: 100vw;
  }
  h5 {
    font-size: 8vw;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  }
  .main-header {
    font-size: 8vw;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  }
  .appText {
    font-size: 5vw;
    padding: 3vh 0 1vh 0;
  }
  .appText4 {
    font-size: 5vw;
    padding: 3vh 0 -1vh 0;
  }
  .projects {
    padding: 5vh;
    margin: 2vw;
  }
  .project1, .project2, .project3 {
    background: #f6f6ff;
    padding: 0 9vw;
    width: 85vw;
    text-align: left;
  }
  .project4 {
    background: #f6f6ff;
    width: 85vw;
    margin: 0 10vw;
  }
  img {
    width: 85vw;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

.App {
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f6f6ff;
  width: 100vw;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
}
/*# sourceMappingURL=style.css.map */