@import './variables';
@import './AboutMe';
@import './Header';
@import './Projects';

.App {
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
	background: $main-bg-color;
	width: 100vw;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
}